<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <style>
        table {
            width: 30%;
            border-collapse: collapse;
            margin: 5px 0;
        }
        th, td {
            border: 1px solid black;
            padding: 3px;
            text-align: left;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Users List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.name}">name</td>
        <td th:text="${user.lastName}">LastName</td>
        <td th:text="${user.age}">age</td>
    </tr>
    </tbody>
</table>
<br>

<input type = "button" value="Add"
        ONCLICK="window.location.href = 'addNewUser'">


</body>
</html>